<header class="header">
    <a class="logo">
        <img src="{{ url_for('static', filename='img/beet-logo.png')}}" alt="logo" class="logo__image">
        DemoShop
    </a>
    <div class="header__menu">
        <button class="shopping-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
        <div>Total:<span id="total">0</span></div>
        <button href="" class="btn" onclick="proceed_payment()">Checkout</button>
    </div>
    {# TODO shopping list cart #}
    <div class="shopping-list hide">
        <div class="shopping-list__wrapper">
            <div id="">Total:<span>0</span></div>
            <a class="btn">Checkout</a>
        </div>
    </div>
</header>