{% extends 'layout.html' %}
{% block content %}

<div class="wrapper">
    {% include "header.html" %}

    <div class="title-section">
    </div>

    <div class="container">
        <h4>Our Offers</h4>
        <ul class="products">
            {% for product in products %}
            <li>
                <img src="{{url_for('static', filename='img/products/' + product.image)}}" alt="">
                <div>{{ loop.index }}/{{ loop.length }} {{ product.title }}</div>

                <div class="products__info">
                    <span> {{ product.price }} </span>
                    <button id="{{product.id}}" class="products__btn" data-price="{{product.price}}"> <i
                            class="fa fa-cart-plus" aria-hidden="true"></i></button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}